.article {
    margin-bottom: 50px;
}

.article .title {
    font-size: 24px;
    font-weight: 500;
}

.article .content {
    font-size: 18px;
    overflow: hidden;
}

.article .content:not(.expanded) {
    height: 200px;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.article .expand {
    font-weight: bold;
}